extends ../layout.pug

block _BLOCK_TITLE_
	title 포스트 수정

block _BLOCK_SCRIPT_
	script(src='/js/submit.js' type='text/javascript')
	script(src='/js/formchecker.js' type='text/javascript')
	script(src='/js/board.js' type='text/javascript')
	script(src='/js/upload.js' type='text/javascript')

block _BLOCK_LOCATION_
	<a href='/' title='홈으로 이동'>HOME</a> / <a href='/board' title='전체 글 목록으로'>BULLETIN</a>

block _BLOCK_CONTENT_
	h1 포스트 수정
	div.subtitle THIS WAS LAST POSTED AT #{global.comjs.getFormatDate(n.EDIT_DT)} AND HAS BEEN VISITED #{global.comjs.addComma(n.READ_CNT)} TIMES
		span#categorycd #{n.GRP_CD}
	form(name='frmEnt' id='frmEnt' method='post' action='/board/'+n._id+'?_method=put' onsubmit='return regist();')
		input(type='hidden' name='page' value=page)
		input(type='hidden' name='s' value=searchword)
		div
			label(for='grpcd') 분류 *
			select(name='grpcd' id='grpcd' title='분류')
		div
			label(for='title') 제목 *
			input(type='text' name='title' id='title' placeholder='Title' maxlength='100' value=n.TITLE title='제목')
		div
			label(for='content') 내용 *
			textarea(name='content' placeholder='Content' rows='10' title='내용') #{n.CONTENT}
		div
			label(for='uf') 첨부파일
			div(id='dragandrophandler')
				div(id='dragtext') 첨부할 파일을 이곳으로 끌어오거나, <a href='#dragandrophandler' onclick='showUploadFormWindow();return false;' style='cursor:pointer;'>여기</a>를 클릭하세요.
				a.btn(id='dropfilebutton' href='#dragandrophandler' onclick='dropFile();return false;' style='display:none;') 체크항목 삭제
				a.btn(id='addfilebutton' href='#dragandrophandler' onclick='showUploadFormWindow();return false;' style='display:none;') 파일업로드
				ul(id='ul_attached_files')
					- cnt=0
					- if (n.FILES)
						each f in n.FILES
							li &nbsp; <input type='checkbox' name='file' id='file' value='#{f.FILE_PATH}__________#{f.FILE_MIMETYPE}__________#{f.FILE_SIZE}__________#{f.FILE_NM}'> <a href='/upload/#{f.FILE_PATH}__________#{f.FILE_MIMETYPE}' target='actionframe'>#{f.FILE_NM}</a> (<script>document.write(addComma(#{f.FILE_SIZE}));</script> byte)
							- cnt++
				div(id='progressbar')
		div
			input(type='submit' value='수정' title='수정')
	div(id='section_bottom_button')
		a.btn(href='/board/?c='+n.GRP_CD+'&page='+page+'&s='+searchword title='목록으로') 목록으로
		a.btn(href='/board/'+n._id+'?page='+page+'&s='+searchword title='본문으로') 본문으로
	div(id='div_attach_file' style='position:absolute; top:50%; left:50%; width:200px; height:120px; margin:-60px 0 0 -100px; border:solid 2px #ccc; background-color:white; z-index:20; padding:10px; display:none;')
		div
			form(name='frmAddFile')
				label(for='uf' style='display:none') 파일첨부
				input(type='file' name='uf' style='width:180px' onChange='uploadFromUploadFormWindow();')
		div(style='margin-top:20px;')
			a.btn(href='#dragandrophandler' onclick='hideUploadFormWindow();return false;' title='창닫기') 창닫기

block _BLOCK_SCRIPT_POST_
	script if(#{cnt}>0) setExistedFiles();

